{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "defaults",
            "not ie < 11",
            "last 2 versions",
            "> 1%"
          ]
        }
      }
    ]
  ]
}